{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
    <div class="auth">
        <div class="auth_form">
            <div class="card card-body">
                <a class="text-center my-3" href="{% url 'home' %}">
                    <img src="{% static 'img/logo.png' %}"/>
                </a>
                <h4 class="text-center">{% trans "Sign In" %}</h4>

                {% get_providers as socialaccount_providers %}

                {% if socialaccount_providers %}
                    <p> Don't have an account? <a href="{{ signup_url }}">sign up</a></p>

                    <div class="socialaccount_ballot">
                        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                        <div class="login-or text-center">{% trans 'or' %}</div>

                    </div>

                    {% include "socialaccount/snippets/login_extra.html" %}

                {% else %}
                    <p>{% blocktrans %}If you have not created an account yet, then please
                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                {% endif %}
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <div>
                        <button class="primaryAction btn btn-primary btn-block"
                                type="submit">{% trans "Sign In" %}</button>
                    </div>
                    <a class="button secondaryAction"
                       href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                </form>

            </div>
        </div>
    </div>

{% endblock %}
